<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultats</title>
  </head>
  <body>
    <div style="margin: 15%">
      <h1>Merci de l'essai</h1>
      <p>
        Itinéraire pour <strong>{{ data[1] }}</strong> partant de
        <strong>{{ data[0] }}</strong>
      </p>
      <p>
        <strong>{{ data[2] }}</strong> :
        <strong>{{ data[3] }} </strong> Kilomètres
      </p>
    </div>

    <a href="/">Réessayer</a>
  </body>
</html>
